@model IEnumerable<BookStore.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Search results</h2>


<table class="table table-striped">
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td align="center"><img src="@item.ImageUrl" height="300px" width="220px"></td>


            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>


            <td>

                @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, null)
                @Html.ActionLink("Details", "Details", "Books", new { id = item.Id }, null)
                @Html.ActionLink("Delete", "Delete", "Books", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
